.supreme-court{
    display: flex;
    justify-content: center;
    height: 38rem;
    
}
.supreme-court img{
    width: 100%;
    filter: brightness(40%);

}

.L1{
    color: white;
     font-size: 2.5rem;
    position: absolute;
    top: 50%;
 left: 31.8%;
 margin-left: 2.9rem;
 line-height: 5rem;
    transform: translate(-50%, -50%);
}

.L3{
    font-size: 2rem;
    color: rgb(212, 203, 203);
    margin-left: .4rem;
}
.L2{
   text-align: center;
   display: inline-block;
}