.history-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
max-width: 95%;
margin-left: 38px;
  }
  
  .title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .history-timeline {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .history-event {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .history-event:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .date {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #333;
  }
  
  .event-description {
    font-size: 16px;
    margin-top: 10px;
    color: #555;
  }